@font-face {
  font-family: "Roboto-regular";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}

body {
  font-family: 'Roboto-regular', sans-serif;
  margin: 0;
}

header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 15px 0 10px 0;
  position: relative;
  z-index: 2;
}

header .localisation-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  background-color: #f0f0f0;
  font-weight: 700;
}

header .localisation-elements .localisation-marker {
  width: 12px;
}

header .reserve-menu {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .reserve-menu h2,
header .reserve-menu p {
  text-align: center;
  max-width: 80%;
}

header .reserve-menu h2 {
  margin-bottom: 0;
}

header .reserve-menu .reserve-menu-button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  margin: 20px 0 20px 0;
}

header .reserve-menu .reserve-menu-button a {
  color: white;
  text-decoration: none;
}

header .reserve-menu .reserve-menu-button:hover {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
}

.info-title {
  margin-top: 30px;
  margin-left: 5%;
}

.info-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-cards .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}

.info-cards .info-card .info-number {
  width: 23px;
  height: 21px;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin-right: -15px;
  margin-left: -13px;
  padding-top: 2px;
  z-index: 1;
}

.info-cards .info-card .info-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.5);
          box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding-left: 10px;
}

.info-cards .info-card .info-icon-text .info-img {
  width: 20px;
}

.info-cards .info-card .info-icon-text .info-img-phone {
  width: 15px;
}

.info-cards .info-card .info-icon-text .info-img,
.info-cards .info-card .info-icon-text .info-img-phone {
  margin: 0 20px 0 20px;
}

.info-cards .info-card .info-icon-text .info-text {
  -ms-grid-column-align: center;
      justify-self: center;
}
/*# sourceMappingURL=main.css.map */