@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Shrikhand', sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 15px 0 10px 0;
  position: relative;
  z-index: 2;
}

header .no-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .localisation-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  background-color: #f0f0f0;
  font-weight: 700;
}

header .localisation-elements .localisation-marker {
  width: 12px;
}

header .reserve-menu {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .reserve-menu h2,
header .reserve-menu p {
  text-align: center;
  max-width: 80%;
}

header .reserve-menu h2 {
  margin-bottom: 0;
}

header .reserve-menu .reserve-menu-button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  margin: 20px 0 20px 0;
}

header .reserve-menu .reserve-menu-button a {
  color: white;
  text-decoration: none;
}

header .reserve-menu .reserve-menu-button:hover {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
}

header .header-image img {
  max-width: 100%;
  position: initial;
  z-index: -1;
}

footer {
  background-color: #353535;
  color: white;
}

footer .footer-title {
  padding-top: 30px;
  margin-left: 5%;
  margin-top: 0;
}

footer .footer-links {
  margin: 0;
  padding-bottom: 30px;
}

footer .footer-links .footer-link {
  list-style: none;
  line-height: 25px;
  cursor: pointer;
}

footer .footer-links .utensils {
  width: 10px;
  cursor: pointer;
}

footer .footer-links .handshake {
  width: 12px;
  cursor: pointer;
}

.info-title {
  margin-top: 30px;
  margin-left: 5%;
}

.info-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-cards .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}

.info-cards .info-card .info-number {
  width: 23px;
  height: 21px;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin-right: -10px;
  margin-left: -13px;
  padding-top: 2px;
  z-index: 1;
}

.info-cards .info-card .info-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75%;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.5);
          box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding-left: 10px;
}

.info-cards .info-card .info-icon-text .info-img {
  width: 20px;
}

.info-cards .info-card .info-icon-text .info-img-phone {
  width: 15px;
}

.info-cards .info-card .info-icon-text .info-img,
.info-cards .info-card .info-icon-text .info-img-phone {
  margin: 0 20px 0 20px;
}

.info-cards .info-card .info-icon-text .info-text {
  -ms-grid-column-align: center;
      justify-self: center;
}

.restaurant {
  margin-top: 80px;
  padding-top: 20px;
  background-color: #fafafa;
}

.restaurant .restaurant-title {
  margin-top: 30px;
  margin-left: 5%;
}

.restaurant .restaurant-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant .restaurant-card .restaurant-img {
  width: 330px;
  max-height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.restaurant .restaurant-card .restaurant-card-bottom {
  width: 330px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 10px 10px;
  padding: 4px 0 4px 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.4);
}

.restaurant .restaurant-card .restaurant-card-bottom .restaurant-link {
  text-decoration: none;
  color: black;
}

.restaurant .restaurant-card .restaurant-card-bottom .restaurant-infos {
  margin-top: -3px;
  margin-left: 20px;
}

.restaurant .restaurant-card .restaurant-card-bottom .restaurant-infos .restaurant-info-title {
  margin-top: 16px;
  margin-bottom: 5px;
  width: 170px;
}

.restaurant .restaurant-card .restaurant-card-bottom .restaurant-infos .restaurant-info-text {
  margin-top: 5px;
}

.restaurant .restaurant-card .restaurant-card-bottom .heart-btn-property {
  width: 25px;
  position: relative;
  top: 20px;
  cursor: pointer;
}

.restaurant .restaurant-card .restaurant-card-bottom .heart-btn-empty {
  left: 95px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.restaurant .restaurant-card .restaurant-card-bottom .heart-btn-empty:hover {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.restaurant .restaurant-card .restaurant-card-bottom .heart-btn-full {
  left: 67px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.restaurant .restaurant-card .restaurant-card-bottom .heart-btn-full:hover {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

.restaurant .restaurant-card .last-item {
  margin-bottom: 50px;
}

main {
  margin-top: -25px;
  position: relative;
}

main .reserve-btn {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .reserve-btn h2,
main .reserve-btn p {
  text-align: center;
  max-width: 80%;
}

main .reserve-btn h2 {
  margin-bottom: 0;
}

main .reserve-btn .reserve-menu-button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  margin: 50px 0 70px 0;
}

main .reserve-btn .reserve-menu-button a {
  color: white;
  text-decoration: none;
}

main .reserve-btn .reserve-menu-button:hover {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
}

main .menu {
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
}

main .menu .title {
  margin-left: 8%;
  margin-top: 26px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

main .menu .line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 16px;
  margin-left: 8%;
}

main .menu .menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .menu .menu-title {
  margin-top: 0;
  padding: 15px 0 0 15px;
}

@-webkit-keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main .menu .cards .first {
  -webkit-animation: load 1s ease-in-out;
          animation: load 1s ease-in-out;
}

main .menu .cards .second {
  -webkit-animation: load 3s ease-in-out;
          animation: load 3s ease-in-out;
}

main .menu .cards .third {
  -webkit-animation: load 5s ease-in-out;
          animation: load 5s ease-in-out;
}

main .menu .cards .card {
  cursor: pointer;
}

main .menu .cards .starter-price,
main .menu .cards .course-price,
main .menu .cards .dessert-price {
  -webkit-transition: padding-right 450ms ease-in-out;
  transition: padding-right 450ms ease-in-out;
}

main .menu .cards .validate {
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 30px;
  height: 53px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  right: -50px;
  padding: 4px 10px 4px 10px;
  opacity: 1;
}

main .menu .cards .validate .check-icon {
  width: 20px;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

main .menu .cards .one {
  top: 139px;
}

main .menu .cards .two {
  top: 215px;
}

main .menu .cards .three {
  top: 291px;
}

main .menu .cards .four {
  top: 421px;
}

main .menu .cards .five {
  top: 497px;
}

main .menu .cards .six {
  top: 573px;
}

main .menu .cards .seven {
  top: 703px;
}

main .menu .cards .eight {
  top: 779px;
}

main .menu .cards .nine {
  top: 855px;
}

main .menu .cards .card:hover .dessert-title {
  max-width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main .menu .cards .card:hover .starter-price,
main .menu .cards .card:hover .course-price,
main .menu .cards .card:hover .dessert-price {
  padding-right: 45px;
}

main .menu .cards .card:hover .starter-desc,
main .menu .cards .card:hover .course-desc,
main .menu .cards .card:hover .dessert-desc {
  -webkit-transition: max-width 1s ease-in-out;
  transition: max-width 1s ease-in-out;
  max-width: 220px;
}

main .menu .cards .card:hover .validate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: translate(-69px);
          transform: translate(-69px);
}

main .menu .cards .card:hover .validate .check-icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

main .menu .menu-like .heart-btn-property {
  width: 25px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

main .menu .menu-like .heart-btn-empty {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main .menu .menu-like .heart-btn-empty:hover {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

main .menu .menu-like .heart-btn-full {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main .menu .menu-like .heart-btn-full:hover {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

main .menu .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

main .menu .cards .card {
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
}

main .menu .cards .starter-card,
main .menu .cards .course-card,
main .menu .cards .dessert-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  -webkit-box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.5);
          box-shadow: 0 0 0.5rem rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

main .menu .cards .starter-card .starter-title,
main .menu .cards .starter-card .starter-desc,
main .menu .cards .starter-card .course-title,
main .menu .cards .starter-card .course-desc,
main .menu .cards .starter-card .dessert-title,
main .menu .cards .starter-card .dessert-desc,
main .menu .cards .course-card .starter-title,
main .menu .cards .course-card .starter-desc,
main .menu .cards .course-card .course-title,
main .menu .cards .course-card .course-desc,
main .menu .cards .course-card .dessert-title,
main .menu .cards .course-card .dessert-desc,
main .menu .cards .dessert-card .starter-title,
main .menu .cards .dessert-card .starter-desc,
main .menu .cards .dessert-card .course-title,
main .menu .cards .dessert-card .course-desc,
main .menu .cards .dessert-card .dessert-title,
main .menu .cards .dessert-card .dessert-desc {
  margin: 5px 5px 5px 15px;
  -webkit-transition: max-width 500ms ease-in-out;
  transition: max-width 500ms ease-in-out;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main .menu .cards .starter-card .starter-title,
main .menu .cards .starter-card .course-title,
main .menu .cards .starter-card .dessert-title,
main .menu .cards .course-card .starter-title,
main .menu .cards .course-card .course-title,
main .menu .cards .course-card .dessert-title,
main .menu .cards .dessert-card .starter-title,
main .menu .cards .dessert-card .course-title,
main .menu .cards .dessert-card .dessert-title {
  font-weight: 700;
}

main .menu .cards .starter-card .starter-desc,
main .menu .cards .starter-card .course-desc,
main .menu .cards .starter-card .dessert-desc,
main .menu .cards .course-card .starter-desc,
main .menu .cards .course-card .course-desc,
main .menu .cards .course-card .dessert-desc,
main .menu .cards .dessert-card .starter-desc,
main .menu .cards .dessert-card .course-desc,
main .menu .cards .dessert-card .dessert-desc {
  font-size: 14px;
}

main .menu .cards .starter-card .starter-price,
main .menu .cards .starter-card .course-price,
main .menu .cards .starter-card .dessert-price,
main .menu .cards .course-card .starter-price,
main .menu .cards .course-card .course-price,
main .menu .cards .course-card .dessert-price,
main .menu .cards .dessert-card .starter-price,
main .menu .cards .dessert-card .course-price,
main .menu .cards .dessert-card .dessert-price {
  margin: 0 15px 5px 0;
}
/*# sourceMappingURL=main.css.map */